{% extends "test_pass/layout.html" %}
{% block content %}
    <div class="test-field">
        <div class="test-link">
            <a href="#">Test name</a>
        </div>
        <hr/>
        <div class="test-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sapien augue,
               tempor nec dignissim vel, varius at tellus. Fusce non massa non sem feugiat
               condimentum in in magna. Nam a felis ut arcu accumsan tempor gravida ut diam. 
               Donec molestie cursus lorem, in lacinia urna consequat a. Curabitur rhoncus 
               quis lectus nec aliquet. In risus ante, suscipit et ligula sed, commodo consectetur 
               mi. Aenean vestibulum porta risus et molestie.</p>
        </div>
    </div>

{% endblock %}
